body {
    padding-top: 100px;
    background-color: #f2f2f2;
}

.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}

/* Tooltip CSS */
.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family:"avenir next", Arial, sans-serif;
padding: 6px;
background: rgba(0, 0, 0, 0.6);
color: #ee8221;
border-radius: 1px;
pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 8px;
width: 100%;
line-height: 1.5;
color: rgba(0, 0, 0, 0.6);
position: absolute;
pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
content: "\25BC";
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
content: "\25C0";
margin: -4px 0 0 0;
top: 50%;
left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
content: "\25B2";
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
content: "\25B6";
margin: -4px 0 0 -1px;
top: 50%;
left: 100%;
}

/* text{
pointer-events:none;
} */

.details{
color:white;
}

.glyphicon:before {
margin-right: 7px;
}

#legendText {
  font-family: verdana;
  font-size: 12px;
}

.donutText {
  fill: white;
}

.navbar {
    font-family: verdana;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

#countryOptions {
    font-family: verdana;
    font-size: 13px;
    margin-bottom: 9px;
}

#country-dropdown > li:hover {
    background-color: #bdd7e7;
    background-image: none;
}

#slider-time {
    
}


/*
  svg {
    border-radius: 6px;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 5px #ddd;
} */
