/*
Xandra Vos - 10731148
Minor Programmeren - University of Amsterdam
Project January 2018

CSS file for style in about.html page.
 */

 /* Marges next to glyphicons */
 .glyphicon:before {
 margin-right: 7px;
 }


 /* Adjusts background color of page */
 body {
     background-color: #f2f2f2;
     font-family: verdana;
 }

 /* Sets font on navbar */
 .navbar {
     font-family: verdana;
 }

 .jumbotron p {
     font-size: 15px;
 }

 .jumbotron h2 {
     font-weight: bold;
 }
