/*
Xandra Vos - 10731148
Minor Programmeren - University of Amsterdam
Project January 2018

CSS file for style in visualization.html page.
 */

/* Marges next to glyphicons */
.glyphicon:before {
margin-right: 7px;
}

#worldmap{
    display:block;
    margin:0 auto;
}

/* Gives padding to top of body and adjusts background color */
body {
    padding-top: 60px;
    background-color: #f2f2f2;
}

/* Sets font on navbar */
.navbar {
    font-family: verdana;
}

/* Adjusts dropdown menu in navbar */
.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

/* Styles countries in dropdown menu */
#countryOptions {
    font-family: verdana;
    font-size: 13px;
    margin-bottom: 9px;
}

/* Styles country on hover */
#country-dropdown > li:hover {
    background-color: #bdd7e7;
    background-image: none;
}

/* Styles title above map */
#mapTitle {
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    color: #525252;
    font-size: 25px;
}

/* Styles title above bar */
#barTitle {
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    color: #525252;
    font-size: 25px;
}

/* Styles title above line graph */
#lineTitle {
    font-family: verdana;
    font-weight: bold;
    text-align: center;
    color: #525252;
    font-size: 25px;
}

/* Puts bar chart underneath map if screen too small */
@media screen {
    #barChart
    {
         float: none;
         margin-right:0;
         width:auto;
    }
}

/* Style names tooltip map */
.names {
fill: none;
stroke: #fff;
stroke-linejoin: round;
}

/* Tooltip map */
.d3-tip {
line-height: 1.5;
font-weight: 400;
font-family: verdana;
font-size: 12px;
padding: 6px;
background: rgba(0, 0, 0, 0.6);
color: #f99e1a;
border-radius: 8px;
pointer-events: none;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
box-sizing: border-box;
display: inline;
font-size: 8px;
width: 100%;
line-height: 1.5;
color: rgba(0, 0, 0, 0.6);
position: absolute;
pointer-events: none;

}

/* Northward tooltips */
.d3-tip.n:after {
content: "\25BC";
margin: -1px 0 0 0;
top: 100%;
left: 0;
text-align: center;
}

/* Eastward tooltips */
.d3-tip.e:after {
content: "\25C0";
margin: -4px 0 0 0;
top: 50%;
left: -8px;
}

/* Southward tooltips */
.d3-tip.s:after {
content: "\25B2";
margin: 0 0 1px 0;
top: -8px;
left: 0;
text-align: center;
}

/* Westward tooltips */
.d3-tip.w:after {
content: "\25B6";
margin: -4px 0 0 -1px;
top: 50%;
left: 100%;
}

/* Data in tooltip map */
.details{
color: white;
}

/* Make bars tooltip map */
.bars {
  float: left;
}

/* Styles bar chart label x-axis */
.myLabelX {
    font-size: 12px;
}

/* Styles bar chart label y-axis */
.myLabelY {
    font-size: 12px;
}

/* Styles the text underneath the legend */
#legendText {
    font-family: verdana;
    font-size: 12px;
}

/* Make line graph thicker */
.linegraph {
    stroke-width: 1.5px;
}

/* Styles line graph label x-axis */
.labelLineX {
    font-size: 12px;
    font-family: verdana;
}

/* Styles line graph label y-axis */
.labelLineY {
    font-size: 12px;
    font-family: verdana;
}

/* Styles tooltip line graph */
.tooltip {
    position: absolute;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #f99e1a;
    border: 0px;
    border-radius: 8px;
    font-family: verdana;
    top: 5px;
}

/* Style the tooltip of the bar */
.tooltipBar {
    position: absolute;
    text-align: left;
    padding: 5px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.6);
    color: #f99e1a;
    border: 0px;
    border-radius: 8px;
    font-family: verdana;
    top: 5px;
}
